*~
*.bak

**/.envrc

*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
.vscode

website/vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/
scripts/testing/auth
scripts/testing/certs
scripts/testing/testingFile*

# build outputs
results
dist

# testing
/testing
/testing-mirror/registry.terraform.io/kreuzwerker/docker

# lint error outputs
markdown-link-check-*.txt
