name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: '0 10 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v5
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          days-before-stale: 60
          days-before-close: 7
          stale-issue-label: stale
          stale-pr-label: stale
          exempt-pr-labels: security,pinned
          exempt-issue-labels: security,pinned
          stale-issue-message: |
            This issue is stale because it has been open 60 days with no activity.
            Remove `stale` label or comment or this will be closed in 7 days.
            If you don't want this issue to be closed, please set the label `pinned`.
          stale-pr-message: |
            This pull request is stale because it has been open 60 days with no activity.
            Remove `stale` label or comment or this will be closed in 7 days.
            If you don't want this pull request to be closed, please set the label `pinned`.
