---
name: Unit Tests
on:
  push:
    branches:
      - master
      - "release/**"
  pull_request:
    types: ['opened', 'synchronize']
    paths:
      - '**.go'
      - 'vendor/**'
      - '.github/workflows/**'

env:
  GO_VERSION: "1.16"
  GOPROXY: https://gocenter.io,https://proxy.golang.org,direct

jobs:
  unit-test:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16'
      - run: cat /etc/issue
      - run: bash scripts/gogetcookie.sh
      - run: make vet
      - run: make test


