name: Docs and Website Lint
on:
  push:
    branches:
      - master
      - "release/**"
  pull_request:
    types: ['opened', 'synchronize']
    paths:
      - .github/workflows/website-lint.yaml
      - website/docs/**

env:
  GO_VERSION: "1.16"
  GOPROXY: https://gocenter.io,https://proxy.golang.org,direct
  DOCKER_CE_VERSION: "5:20.10.5~3-0~ubuntu-focal"

jobs:
  website-lint-spellcheck-tffmt:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16'
      - run: cat /etc/issue
      - run: bash scripts/gogetcookie.sh
      # locally: docker run -it ubuntu-20.04 bash (https://ubuntu.pkgs.org/20.04/docker-ce-stable-amd64/)
      - run: sudo apt-get update
      - run: sudo apt-get -y install apt-transport-https ca-certificates curl gnupg-agent software-properties-common
      - run: curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
      - run: sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
      - run: sudo apt-get update
      # list available docker versions: apt-cache policy docker-ce 
      - run: sudo apt-get -y install docker-ce=${DOCKER_CE_VERSION}
      - run: docker version
      - run: make setup
      - run: make website-lint
  markdown-lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: avto-dev/markdown-lint@v1
        with:
          args: 'website/docs'
          config: '.markdownlint.yml'

